* {
    /* makes the math of sizing and stuff easier */
  box-sizing: border-box;
}

div {
  text-align: center;
}
img {
  width: auto;
  height: auto;
}
button {
  font-family: "Judson", serif;
  font-size: large;
}

.home {
  text-align: center;
  flex-direction: column;
  margin: 4rem;
}

body {
  background-color: #F5F4F4;
  /* reset */
  margin: 0;
  padding: 0;
}

h1 {
  color: #164D10;
  font-size: 5rem;
  font-family: "Judson", serif;
}

h2 {
  color: #094520;
  font-family: "Judson", serif;
  font-weight: 100;
  letter-spacing: 0.5rem;
}

h3 {
  color: #52371E;
  font-family: "IM Fell DW Pica", serif;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 0.5rem;
}

p {
  font-size: larger;
  font-family: "Judson", serif;
}

a {
  color: #52371E;
  font-family: "IM Fell DW Pica", serif;
  font-size: large;
  text-decoration: none;
}

nav {
  background: #0a2012;
  padding: 10px;
}

nav button {
  background-color: #0a2012;
  color: #eae7e7;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown {
  display: none;
  background: #0a2012;
}

.dropdown.show {
  display: block;
}

.dropdown a {
  color: #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background: #afa49c;
}

footer {
  text-align: center;
  font-size: large;
  background-color: #e9e3df;
  padding: 3rem;
  font-family: "Judson", serif;
}